# Extract data

In [1]:
import pandas as pd

In [61]:
df = pd.read_excel("financial_sample.xlsx")
df

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,NaN,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,NaN,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,NaN,2178.0,3,15,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,NaN,888.0,3,15,13320.0,0.00,13320.00,8880.0,4440.00,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,NaN,2470.0,3,15,37050.0,0.00,37050.00,24700.0,12350.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260,300,742500.0,111375.00,631125.00,618750.0,12375.00,2014-03-01,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260,300,163800.0,24570.00,139230.00,136500.0,2730.00,2014-10-01,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5,7,9576.0,1436.40,8139.60,6840.0,1299.60,2014-02-01,2,February,2014
698,Government,Canada,Paseo,High,723.0,10,7,5061.0,759.15,4301.85,3615.0,686.85,2014-04-01,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250,12,21672.0,3250.80,18421.20,5418.0,13003.20,2014-05-01,5,May,2014

In [63]:
df1 = pd.read_excel("Electric_Vehicle_Population_Data.xlsx")
df1

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5YJXCAE26J,Yakima,Yakima,WA,98908.0,2018,TESLA,MODEL X,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,238,0,14.0,141151601,POINT (-120.56916 46.58514),PACIFICORP,5.307700e+10
1,JHMZC5F37M,Kitsap,Poulsbo,WA,98370.0,2021,HONDA,CLARITY,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,47,0,23.0,171566447,POINT (-122.64681 47.73689),PUGET SOUND ENERGY INC,5.303509e+10
2,5YJ3E1EB0K,King,Seattle,WA,98199.0,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220,0,36.0,9426525,POINT (-122.40092 47.65908),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
3,1N4AZ0CP5D,King,Seattle,WA,98119.0,2013,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,75,0,36.0,211807760,POINT (-122.3684 47.64586),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
4,5YJSA1E21H,Thurston,Lacey,WA,98516.0,2017,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,0,22.0,185810306,POINT (-122.75379 47.06316),PUGET SOUND ENERGY INC,5.306701e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130438,7SAYGDEE6P,Pierce,Gig Harbor,WA,98335.0,2023,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,26.0,231134102,POINT (-122.58354539999999 47.32344880000005),BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305307e+10
130439,1N4BZ1CV7N,Pierce,Tacoma,WA,98408.0,2022,NISSAN,LEAF,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,29.0,185810943,POINT (-122.43810499999995 47.203220000000044),BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305306e+10
130440,5YJYGDEE8M,King,Seattle,WA,98109.0,2021,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,36.0,176542418,POINT (-122.35022 47.63824),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
130441,5YJXCBE22L,Island,Camano Island,WA,98282.0,2020,TESLA,MODEL X,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,293,0,10.0,102834938,POINT (-122.40049 48.23986),BONNEVILLE POWER ADMINISTRATION||PUD 1 OF SNOH...,5.302997e+10
130442,5YJ3E1EA5M,Pierce,Puyallup,WA,98375.0,2021,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,2.0,180473639,POINT (-122.30116 47.1165),BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305307e+10

In [65]:
Date = df[['Month Number', 'Month Name', 'Year']]
Date = Date.rename(columns={'Month Number': 'd_day', 'Month Name': 'd_month','Year': 'd_year'})
Date

     d_day   d_month  d_year
0        1   January    2014
1        1   January    2014
2        6      June    2014
3        6      June    2014
4        6      June    2014
..     ...       ...     ...
695      3     March    2014
696     10   October    2014
697      2  February    2014
698      4     April    2014
699      5       May    2014

[700 rows x 3 columns]

In [102]:
Sales = df[['Gross Sales','Sale Price']]
Sales = Sales.rename(columns={'Gross Sales': 'Quantity', 'Sale Price': 'Unit Price'})
Sales

     Quantity  Unit Price
0     32370.0          20
1     26420.0          20
2     32670.0          15
3     13320.0          15
4     37050.0          15
..        ...         ...
695  742500.0         300
696  163800.0         300
697    9576.0           7
698    5061.0           7
699   21672.0          12

[700 rows x 2 columns]

In [106]:
Sales["total_sales"] = Sales["Quantity"] * Sales["Unit Price"]
Sales

     Quantity  Unit Price  total_sales
0     32370.0          20     647400.0
1     26420.0          20     528400.0
2     32670.0          15     490050.0
3     13320.0          15     199800.0
4     37050.0          15     555750.0
..        ...         ...          ...
695  742500.0         300  222750000.0
696  163800.0         300   49140000.0
697    9576.0           7      67032.0
698    5061.0           7      35427.0
699   21672.0          12     260064.0

[700 rows x 3 columns]

In [68]:
Product = df1[['Electric Vehicle Type', 'Model']]
Product = Product.rename(columns={'Electric Vehicle Type': 'P_Name', 'Model':'p_Category'})
Product

                                        P_Name p_Category
0               Battery Electric Vehicle (BEV)    MODEL X
1       Plug-in Hybrid Electric Vehicle (PHEV)    CLARITY
2               Battery Electric Vehicle (BEV)    MODEL 3
3               Battery Electric Vehicle (BEV)       LEAF
4               Battery Electric Vehicle (BEV)    MODEL S
...                                        ...        ...
130438          Battery Electric Vehicle (BEV)    MODEL Y
130439          Battery Electric Vehicle (BEV)       LEAF
130440          Battery Electric Vehicle (BEV)    MODEL Y
130441          Battery Electric Vehicle (BEV)    MODEL X
130442          Battery Electric Vehicle (BEV)    MODEL 3

[130443 rows x 2 columns]

In [80]:
Customer = df[['Segment', 'Country', ]]
Customer = Customer.rename(columns={'Segment': 'c_name', 'Country': 'c_City'})
Customer

               c_name                    c_City
0          Government                    Canada
1          Government                   Germany
2           Midmarket                    France
3           Midmarket                   Germany
4           Midmarket                    Mexico
..                ...                       ...
695    Small Business                    France
696    Small Business                    Mexico
697        Government                    Mexico
698        Government                    Canada
699  Channel Partners  United States of America

[700 rows x 2 columns]

In [13]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="etl_db"
)

In [72]:
cursor = mydb.cursor()

In [74]:
Date = Date.fillna('')
Date

     d_day   d_month  d_year
0        1   January    2014
1        1   January    2014
2        6      June    2014
3        6      June    2014
4        6      June    2014
..     ...       ...     ...
695      3     March    2014
696     10   October    2014
697      2  February    2014
698      4     April    2014
699      5       May    2014

[700 rows x 3 columns]

In [59]:
insert_query = f"INSERT INTO date_tb ({','.join(Date.columns)}) VALUES ({','.join(['%s']*len(Date.columns))})"
    
for _, row in Date.iterrows():
    values = tuple(row)
    cursor.execute(insert_query, values)
    
mydb.commit()

In [76]:
Customer = Customer.fillna('')
Customer

        Customer_name                      City
0          Government                    Canada
1          Government                   Germany
2           Midmarket                    France
3           Midmarket                   Germany
4           Midmarket                    Mexico
..                ...                       ...
695    Small Business                    France
696    Small Business                    Mexico
697        Government                    Mexico
698        Government                    Canada
699  Channel Partners  United States of America

[700 rows x 2 columns]

In [82]:
insert_query = f"INSERT INTO Customer_tb ({','.join(Customer.columns)}) VALUES ({','.join(['%s']*len(Customer.columns))})"
    
for _, row in Customer.iterrows():
    values = tuple(row)
    cursor.execute(insert_query, values)
    
mydb.commit()

In [27]:
Product = Product.fillna('')
Product

                                        P_Name p_Category
0               Battery Electric Vehicle (BEV)    MODEL X
1       Plug-in Hybrid Electric Vehicle (PHEV)    CLARITY
2               Battery Electric Vehicle (BEV)    MODEL 3
3               Battery Electric Vehicle (BEV)       LEAF
4               Battery Electric Vehicle (BEV)    MODEL S
...                                        ...        ...
130438          Battery Electric Vehicle (BEV)    MODEL Y
130439          Battery Electric Vehicle (BEV)       LEAF
130440          Battery Electric Vehicle (BEV)    MODEL Y
130441          Battery Electric Vehicle (BEV)    MODEL X
130442          Battery Electric Vehicle (BEV)    MODEL 3

[130443 rows x 2 columns]

In [29]:
insert_query = f"INSERT INTO product_tb ({','.join(Product.columns)}) VALUES ({','.join(['%s']*len(Product.columns))})"
    
for _, row in Product.iterrows():
    values = tuple(row)
    cursor.execute(insert_query, values)
    
mydb.commit()

In [158]:
# Execute SQL query
cursor.execute("SELECT * FROM product_tb")

rows = cursor.fetchall()
for row in rows:
    print(row)

InternalError: Unread result found

In [90]:
rows

[(1, 'Battery Electric Veh', 'MODEL X'),
 (2, 'Plug-in Hybrid Elect', 'CLARITY'),
 (3, 'Battery Electric Veh', 'MODEL 3'),
 (4, 'Battery Electric Veh', 'LEAF'),
 (5, 'Battery Electric Veh', 'MODEL S'),
 (6, 'Plug-in Hybrid Elect', 'CLARITY'),
 (7, 'Plug-in Hybrid Elect', 'FUSION'),
 (8, 'Plug-in Hybrid Elect', 'Q5 E'),
 (9, 'Plug-in Hybrid Elect', 'C-MAX'),
 (10, 'Battery Electric Veh', 'MODEL S'),
 (11, 'Battery Electric Veh', 'LEAF'),
 (12, 'Battery Electric Veh', 'MODEL Y'),
 (13, 'Battery Electric Veh', 'MODEL 3'),
 (14, 'Battery Electric Veh', 'MODEL 3'),
 (15, 'Plug-in Hybrid Elect', 'C-MAX'),
 (16, 'Plug-in Hybrid Elect', 'NIRO'),
 (17, 'Battery Electric Veh', 'LEAF'),
 (18, 'Battery Electric Veh', 'MODEL S'),
 (19, 'Plug-in Hybrid Elect', 'VOLT'),
 (20, 'Battery Electric Veh', 'BOLT EV'),
 (21, 'Battery Electric Veh', 'MODEL 3'),
 (22, 'Battery Electric Veh', 'MODEL S'),
 (23, 'Plug-in Hybrid Elect', 'VOLT'),
 (24, 'Battery Electric Veh', 'LEAF'),
 (25, 'Battery Electric Veh', 'MODEL S'),
 (26, 'Battery Electric Veh', 'FORTWO'),
 (27, 'Battery Electric Veh', 'LEAF'),
 (28, 'Battery Electric Veh', 'LEAF'),
 (29, 'Battery Electric Veh', 'MODEL 3'),
 (30, 'Plug-in Hybrid Elect', 'X5'),
 (31, 'Battery Electric Veh', 'MODEL Y'),
 (32, 'Battery Electric Veh', 'MODEL 3'),
 (33, 'Battery Electric Veh', 'MODEL 3'),
 (34, 'Battery Electric Veh', 'LEAF'),
 (35, 'Battery Electric Veh', 'LEAF'),
 (36, 'Battery Electric Veh', 'MODEL 3'),
 (37, 'Plug-in Hybrid Elect', 'SORENTO'),
 (38, 'Battery Electric Veh', 'BOLT EV'),
 (39, 'Battery Electric Veh', 'MODEL 3'),
 (40, 'Battery Electric Veh', 'MODEL 3'),
 (41, 'Plug-in Hybrid Elect', 'PRIUS PRIME'),
 (42, 'Plug-in Hybrid Elect', 'I3'),
 (43, 'Battery Electric Veh', 'LEAF'),
 (44, 'Battery Electric Veh', 'MODEL S'),
 (45, 'Battery Electric Veh', 'LEAF'),
 (46, 'Battery Electric Veh', 'MODEL X'),
 (47, 'Battery Electric Veh', 'LEAF'),
 (48, 'Battery Electric Veh', 'BOLT EV'),
 (49, 'Battery Electric Veh', 'MODEL 3'),
 (50, 'Battery Electric Veh', 'MODEL 3'),
 (51, 'Plug-in Hybrid Elect', 'WRANGLER'),
 (52, 'Battery Electric Veh', 'SPARK'),
 (53, 'Battery Electric Veh', 'MODEL S'),
 (54, 'Battery Electric Veh', 'MODEL S'),
 (55, 'Battery Electric Veh', 'LEAF'),
 (56, 'Battery Electric Veh', 'MODEL Y'),
 (57, 'Battery Electric Veh', 'LEAF'),
 (58, 'Battery Electric Veh', 'LEAF'),
 (59, 'Plug-in Hybrid Elect', 'X5'),
 (60, 'Battery Electric Veh', 'MODEL 3'),
 (61, 'Battery Electric Veh', 'BOLT EV'),
 (62, 'Battery Electric Veh', 'MODEL 3'),
 (63, 'Battery Electric Veh', '500'),
 (64, 'Battery Electric Veh', 'MODEL S'),
 (65, 'Plug-in Hybrid Elect', 'C-MAX'),
 (66, 'Battery Electric Veh', 'MODEL S'),
 (67, 'Battery Electric Veh', 'MODEL X'),
 (68, 'Battery Electric Veh', 'MODEL 3'),
 (69, 'Plug-in Hybrid Elect', 'VOLT'),
 (70, 'Plug-in Hybrid Elect', 'PRIUS PRIME'),
 (71, 'Plug-in Hybrid Elect', 'XC60'),
 (72, 'Battery Electric Veh', 'MODEL 3'),
 (73, 'Plug-in Hybrid Elect', 'VOLT'),
 (74, 'Battery Electric Veh', 'LEAF'),
 (75, 'Plug-in Hybrid Elect', 'VOLT'),
 (76, 'Plug-in Hybrid Elect', 'VOLT'),
 (77, 'Plug-in Hybrid Elect', 'XC90'),
 (78, 'Battery Electric Veh', 'MODEL 3'),
 (79, 'Battery Electric Veh', 'MODEL 3'),
 (80, 'Battery Electric Veh', 'NIRO'),
 (81, 'Battery Electric Veh', 'MODEL X'),
 (82, 'Battery Electric Veh', 'MODEL 3'),
 (83, 'Battery Electric Veh', 'NIRO'),
 (84, 'Battery Electric Veh', 'MODEL 3'),
 (85, 'Battery Electric Veh', 'BOLT EV'),
 (86, 'Battery Electric Veh', 'MODEL 3'),
 (87, 'Battery Electric Veh', 'SPARK'),
 (88, 'Battery Electric Veh', 'FOCUS'),
 (89, 'Plug-in Hybrid Elect', 'FUSION'),
 (90, 'Battery Electric Veh', 'SOUL EV'),
 (91, 'Battery Electric Veh', 'MODEL S'),
 (92, 'Battery Electric Veh', 'MODEL X'),
 (93, 'Battery Electric Veh', 'LEAF'),
 (94, 'Plug-in Hybrid Elect', 'XC60'),
 (95, 'Battery Electric Veh', 'LEAF'),
 (96, 'Battery Electric Veh', 'LEAF'),
 (97, 'Battery Electric Veh', 'MODEL 3'),
 (98, 'Battery Electric Veh', 'NIRO'),
 (99, 'Plug-in Hybrid Elect', 'FUSION'),
 (100, 'Battery Electric Veh', 'MODEL Y'),
 (101, 'Plug-in Hybrid Elect', 'A3'),
 (102, 'Plug-in Hybrid Elect', 'VOLT'),
 (103, 'Battery Electric Veh', 'LEAF'),
 (104, 'Battery Electric Veh', 'MODEL 3'),
 (105, 'Plug-in Hybrid Elect', 'X5'),
 (106, 'Battery Electric Veh', 'MODEL 3'),
 (107, 'Battery Electric Veh', 'LEAF'),
 (108, 'Battery Electric Veh', 'MODEL 3'),
 (109, 'Battery Electric Veh', 'MODEL S'),
 (110, 'Plug-in Hybrid Elect', 'FUSION'),
 (111, 'Plug-in Hybrid Elect', 'NIRO'),
 (112, 'Battery Electric Veh', 'MODEL Y'),
 (113, 'Battery Electric Veh', 'LEAF'),
 (114, 'Battery Electric Veh', 'LEAF'),
 (115, 'Battery Electric Veh', 'MODEL Y'),
 (116, 'Plug-in Hybrid Elect', 'C-MAX'),
 (117, 'Battery Electric Veh', 'MODEL X'),
 (118, 'Battery Electric Veh', 'MODEL S'),
 (119, 'Plug-in Hybrid Elect', 'WRANGLER'),
 (120, 'Plug-in Hybrid Elect', 'PACIFICA'),
 (121, 'Battery Electric Veh', 'LEAF'),
 (122, 'Battery Electric Veh', 'LEAF'),
 (123, 'Plug-in Hybrid Elect', 'C-MAX'),
 (124, 'Plug-in Hybrid Elect', 'VOLT'),
 (125, 'Plug-in Hybrid Elect', 'OPTIMA'),
 (126, 'Battery Electric Veh', 'MODEL 3'),
 (127, 'Plug-in Hybrid Elect', 'PACIFICA'),
 (128, 'Battery Electric Veh', 'MODEL Y'),
 (129, 'Plug-in Hybrid Elect', 'VOLT'),
 (130, 'Battery Electric Veh', 'MODEL Y'),
 (131, 'Battery Electric Veh', 'MODEL S'),
 (132, 'Plug-in Hybrid Elect', 'NX'),
 (133, 'Plug-in Hybrid Elect', 'WRANGLER'),
 (134, 'Battery Electric Veh', 'BOLT EV'),
 (135, 'Battery Electric Veh', 'MODEL 3'),
 (136, 'Battery Electric Veh', 'MODEL 3'),
 (137, 'Battery Electric Veh', 'LEAF'),
 (138, 'Plug-in Hybrid Elect', 'PACIFICA'),
 (139, 'Battery Electric Veh', 'MODEL S'),
 (140, 'Plug-in Hybrid Elect', 'OPTIMA'),
 (141, 'Battery Electric Veh', 'MODEL Y'),
 (142, 'Battery Electric Veh', 'MODEL 3'),
 (143, 'Battery Electric Veh', 'MODEL 3'),
 (144, 'Plug-in Hybrid Elect', 'PRIUS PRIME'),
 (145, 'Plug-in Hybrid Elect', 'PRIUS PLUG-IN'),
 (146, 'Battery Electric Veh', 'MODEL Y'),
 (147, 'Battery Electric Veh', 'MUSTANG MACH-E'),
 (148, 'Battery Electric Veh', 'MODEL Y'),
 (149, 'Battery Electric Veh', 'BOLT EUV'),
 (150, 'Battery Electric Veh', 'MODEL Y'),
 (151, 'Battery Electric Veh', 'MODEL Y'),
 (152, 'Plug-in Hybrid Elect', 'CAYENNE'),
 (153, 'Battery Electric Veh', 'BOLT EV'),
 (154, 'Plug-in Hybrid Elect', 'WRANGLER'),
 (155, 'Plug-in Hybrid Elect', 'ELR'),
 (156, 'Plug-in Hybrid Elect', 'X3'),
 (157, 'Battery Electric Veh', 'KONA ELECTRIC'),
 (158, 'Battery Electric Veh', 'MODEL Y'),
 (159, 'Battery Electric Veh', 'MODEL X'),
 (160, 'Battery Electric Veh', 'MODEL Y'),
 (161, 'Plug-in Hybrid Elect', 'VOLT'),
 (162, 'Plug-in Hybrid Elect', '530E'),
 (163, 'Battery Electric Veh', 'MODEL S'),
 (164, 'Battery Electric Veh', 'EQB-CLASS'),
 (165, 'Battery Electric Veh', 'MODEL Y'),
 (166, 'Battery Electric Veh', 'MODEL X'),
 (167, 'Plug-in Hybrid Elect', 'WRANGLER'),
 (168, 'Battery Electric Veh', 'MODEL 3'),
 (169, 'Battery Electric Veh', 'MODEL Y'),
 (170, 'Battery Electric Veh', 'MODEL 3'),
 (171, 'Battery Electric Veh', 'MODEL 3'),
 (172, 'Battery Electric Veh', 'LEAF'),
 (173, 'Battery Electric Veh', 'MODEL Y'),
 (174, 'Plug-in Hybrid Elect', 'NIRO'),
 (175, 'Battery Electric Veh', 'MODEL Y'),
 (176, 'Battery Electric Veh', 'LEAF'),
 (177, 'Battery Electric Veh', 'MODEL 3'),
 (178, 'Battery Electric Veh', 'MODEL Y'),
 (179, 'Battery Electric Veh', 'MODEL S'),
 (180, 'Plug-in Hybrid Elect', 'PRIUS PRIME'),
 (181, 'Battery Electric Veh', 'LEAF'),
 (182, 'Battery Electric Veh', 'R1T'),
 (183, 'Plug-in Hybrid Elect', 'WRANGLER'),
 (184, 'Battery Electric Veh', 'MODEL 3'),
 (185, 'Battery Electric Veh', 'FORTWO'),
 (186, 'Battery Electric Veh', 'MODEL 3'),
 (187, 'Battery Electric Veh', 'TRANSIT'),
 (188, 'Battery Electric Veh', 'MODEL Y'),
 (189, 'Plug-in Hybrid Elect', 'VOLT'),
 (190, 'Battery Electric Veh', 'MODEL Y'),
 (191, 'Battery Electric Veh', 'E-GOLF'),
 (192, 'Battery Electric Veh', 'MODEL S'),
 (193, 'Battery Electric Veh', 'MODEL Y'),
 (194, 'Battery Electric Veh', 'MODEL Y'),
 (195, 'Battery Electric Veh', 'MODEL 3'),
 (196, 'Battery Electric Veh', 'MODEL Y'),
 (197, 'Battery Electric Veh', 'MODEL Y'),
 (198, 'Battery Electric Veh', 'BOLT EV'),
 (199, 'Battery Electric Veh', 'MODEL S'),
 (200, 'Battery Electric Veh', 'MODEL Y'),
 (201, 'Battery Electric Veh', 'ID.4'),
 (202, 'Battery Electric Veh', 'MODEL X'),
 (203, 'Battery Electric Veh', 'LEAF'),
 (204, 'Battery Electric Veh', 'MODEL S'),
 (205, 'Battery Electric Veh', 'BOLT EV'),
 (206, 'Battery Electric Veh', 'LEAF'),
 (207, 'Battery Electric Veh', 'LEAF'),
 (208, 'Battery Electric Veh', 'LEAF'),
 (209, 'Battery Electric Veh', 'MODEL 3'),
 (210, 'Battery Electric Veh', 'MODEL 3'),
 (211, 'Battery Electric Veh', 'LEAF'),
 (212, 'Battery Electric Veh', 'MODEL Y'),
 (213, 'Battery Electric Veh', 'MODEL X'),
 (214, 'Battery Electric Veh', 'MODEL Y'),
 (215, 'Battery Electric Veh', 'BOLT EV'),
 (216, 'Plug-in Hybrid Elect', 'WRANGLER'),
 (217, 'Battery Electric Veh', 'LEAF'),
 (218, 'Battery Electric Veh', 'MODEL 3'),
 (219, 'Battery Electric Veh', 'MODEL Y'),
 (220, 'Battery Electric Veh', 'MODEL Y'),
 (221, 'Plug-in Hybrid Elect', 'WRANGLER'),
 (222, 'Battery Electric Veh', 'LEAF'),
 (223, 'Battery Electric Veh', 'MODEL 3'),
 (224, 'Battery Electric Veh', 'FORTWO ELECTRIC DRIV'),
 (225, 'Battery Electric Veh', 'MODEL 3'),
 (226, 'Battery Electric Veh', 'MODEL 3'),
 (227, 'Battery Electric Veh', 'MODEL 3'),
 (228, 'Battery Electric Veh', 'NIRO'),
 (229, 'Battery Electric Veh', 'MODEL Y'),
 (230, 'Battery Electric Veh', 'E-GOLF'),
 (231, 'Battery Electric Veh', 'LEAF'),
 (232, 'Battery Electric Veh', 'MODEL 3'),
 (233, 'Plug-in Hybrid Elect', 'NIRO'),
 (234, 'Plug-in Hybrid Elect', 'C-MAX'),
 (235, 'Battery Electric Veh', 'MODEL 3'),
 (236, 'Battery Electric Veh', 'BOLT EV'),
 (237, 'Battery Electric Veh', 'MODEL S'),
 (238, 'Battery Electric Veh', 'MODEL Y'),
 (239, 'Battery Electric Veh', 'MODEL 3'),
 (240, 'Battery Electric Veh', 'MODEL Y'),
 (241, 'Battery Electric Veh', 'I-PACE'),
 (242, 'Battery Electric Veh', 'SOUL EV'),
 (243, 'Battery Electric Veh', 'MODEL 3'),
 (244, 'Battery Electric Veh', 'ID.4'),
 (245, 'Battery Electric Veh', 'LEAF'),
 (246, 'Battery Electric Veh', 'MODEL 3'),
 (247, 'Battery Electric Veh', 'MODEL 3'),
 (248, 'Plug-in Hybrid Elect', 'AVIATOR'),
 (249, 'Battery Electric Veh', 'MODEL 3'),
 (250, 'Battery Electric Veh', 'LEAF'),
 (251, 'Battery Electric Veh', 'MODEL 3'),
 (252, 'Battery Electric Veh', 'MODEL 3'),
 (253, 'Battery Electric Veh', 'TAYCAN'),
 (254, 'Battery Electric Veh', 'MODEL S'),
 (255, 'Battery Electric Veh', 'E-TRON'),
 (256, 'Battery Electric Veh', 'MODEL Y'),
 (257, 'Battery Electric Veh', 'MODEL Y'),
 (258, 'Battery Electric Veh', 'MODEL 3'),
 (259, 'Plug-in Hybrid Elect', 'FUSION'),
 (260, 'Battery Electric Veh', 'MODEL S'),
 (261, 'Battery Electric Veh', 'MODEL 3'),
 (262, 'Battery Electric Veh', 'MODEL X'),
 (263, 'Battery Electric Veh', 'MODEL Y'),
 (264, 'Battery Electric Veh', 'ID.4'),
 (265, 'Plug-in Hybrid Elect', 'PACIFICA'),
 (266, 'Plug-in Hybrid Elect', 'C-CLASS'),
 (267, 'Plug-in Hybrid Elect', 'OUTLANDER'),
 (268, 'Battery Electric Veh', 'I3'),
 (269, 'Battery Electric Veh', 'MODEL Y'),
 (270, 'Battery Electric Veh', 'SOUL'),
 (271, 'Plug-in Hybrid Elect', 'SONATA'),
 (272, 'Plug-in Hybrid Elect', 'VOLT'),
 (273, 'Battery Electric Veh', 'MODEL S'),
 (274, 'Battery Electric Veh', 'LEAF'),
 (275, 'Battery Electric Veh', 'MODEL 3'),
 (276, 'Plug-in Hybrid Elect', 'GRAND CHEROKEE'),
 (277, 'Plug-in Hybrid Elect', 'VOLT'),
 (278, 'Plug-in Hybrid Elect', '530E'),
 (279, 'Battery Electric Veh', 'MODEL 3'),
 (280, 'Battery Electric Veh', 'MODEL 3'),
 (281, 'Plug-in Hybrid Elect', 'WRANGLER'),
 (282, 'Battery Electric Veh', 'MODEL X'),
 (283, 'Battery Electric Veh', 'LEAF'),
 (284, 'Battery Electric Veh', 'MODEL S'),
 (285, 'Battery Electric Veh', 'LEAF'),
 (286, 'Battery Electric Veh', 'LEAF'),
 (287, 'Plug-in Hybrid Elect', 'VOLT'),
 (288, 'Plug-in Hybrid Elect', 'PRIUS PRIME'),
 (289, 'Battery Electric Veh', 'MODEL 3'),
 (290, 'Battery Electric Veh', 'TRANSIT'),
 (291, 'Plug-in Hybrid Elect', 'PACIFICA'),
 (292, 'Plug-in Hybrid Elect', 'WRANGLER'),
 (293, 'Battery Electric Veh', 'MODEL X'),
 (294, 'Plug-in Hybrid Elect', 'PRIUS PLUG-IN'),
 (295, 'Battery Electric Veh', 'MODEL Y'),
 (296, 'Battery Electric Veh', 'MODEL 3'),
 (297, 'Battery Electric Veh', 'BOLT EV'),
 (298, 'Plug-in Hybrid Elect', 'VOLT'),
 (299, 'Battery Electric Veh', 'BOLT EV'),
 (300, 'Battery Electric Veh', 'MODEL X'),
 (301, 'Plug-in Hybrid Elect', 'VOLT'),
 (302, 'Battery Electric Veh', 'MODEL Y'),
 (303, 'Plug-in Hybrid Elect', 'RAV4 PRIME'),
 (304, 'Battery Electric Veh', 'MODEL 3'),
 (305, 'Battery Electric Veh', 'R1T'),
 (306, 'Battery Electric Veh', 'MODEL 3'),
 (307, 'Plug-in Hybrid Elect', 'SPORTAGE'),
 (308, 'Battery Electric Veh', 'NIRO'),
 (309, 'Plug-in Hybrid Elect', 'XC90'),
 (310, 'Plug-in Hybrid Elect', 'I3'),
 (311, 'Battery Electric Veh', 'MODEL 3'),
 (312, 'Battery Electric Veh', 'MODEL X'),
 (313, 'Battery Electric Veh', 'MODEL S'),
 (314, 'Plug-in Hybrid Elect', 'OUTLANDER'),
 (315, 'Battery Electric Veh', 'MODEL Y'),
 (316, 'Battery Electric Veh', 'IONIQ 5'),
 (317, 'Battery Electric Veh', 'MODEL Y'),
 (318, 'Battery Electric Veh', 'MODEL Y'),
 (319, 'Battery Electric Veh', 'MODEL Y'),
 (320, 'Battery Electric Veh', 'MODEL 3'),
 (321, 'Battery Electric Veh', 'MODEL Y'),
 (322, 'Plug-in Hybrid Elect', 'XC90'),
 (323, 'Battery Electric Veh', 'E-TRON'),
 (324, 'Battery Electric Veh', 'LEAF'),
 (325, 'Battery Electric Veh', 'LEAF'),
 (326, 'Battery Electric Veh', 'MODEL 3'),
 (327, 'Plug-in Hybrid Elect', 'A3'),
 (328, 'Plug-in Hybrid Elect', 'X5'),
 (329, 'Battery Electric Veh', 'MODEL Y'),
 (330, 'Battery Electric Veh', '500'),
 (331, 'Battery Electric Veh', 'LEAF'),
 (332, 'Plug-in Hybrid Elect', 'I3'),
 (333, 'Battery Electric Veh', 'BOLT EV'),
 (334, 'Battery Electric Veh', 'BOLT EV'),
 (335, 'Battery Electric Veh', 'FORTWO ELECTRIC DRIV'),
 (336, 'Battery Electric Veh', 'MODEL Y'),
 (337, 'Battery Electric Veh', 'MODEL 3'),
 (338, 'Battery Electric Veh', 'MODEL Y'),
 (339, 'Battery Electric Veh', 'MODEL 3'),
 (340, 'Battery Electric Veh', 'MODEL S'),
 (341, 'Battery Electric Veh', 'R1T'),
 (342, 'Battery Electric Veh', 'MODEL 3'),
 (343, 'Battery Electric Veh', 'MODEL 3'),
 (344, 'Plug-in Hybrid Elect', 'I3'),
 (345, 'Battery Electric Veh', 'MODEL 3'),
 (346, 'Plug-in Hybrid Elect', 'X5'),
 (347, 'Battery Electric Veh', 'MODEL 3'),
 (348, 'Plug-in Hybrid Elect', 'NX'),
 (349, 'Battery Electric Veh', 'MODEL Y'),
 (350, 'Battery Electric Veh', 'E-TRON'),
 (351, 'Battery Electric Veh', 'E-TRON'),
 (352, 'Battery Electric Veh', 'MODEL S'),
 (353, 'Battery Electric Veh', 'BOLT EV'),
 (354, 'Battery Electric Veh', 'LEAF'),
 (355, 'Battery Electric Veh', 'LEAF'),
 (356, 'Plug-in Hybrid Elect', 'VOLT'),
 (357, 'Battery Electric Veh', 'EV6'),
 (358, 'Battery Electric Veh', 'BOLT EV'),
 (359, 'Battery Electric Veh', 'MODEL 3'),
 (360, 'Battery Electric Veh', 'R1T'),
 (361, 'Battery Electric Veh', 'NIRO'),
 (362, 'Battery Electric Veh', 'ID.4'),
 (363, 'Battery Electric Veh', 'LEAF'),
 (364, 'Battery Electric Veh', 'MODEL Y'),
 (365, 'Battery Electric Veh', 'LEAF'),
 (366, 'Battery Electric Veh', 'MODEL Y'),
 (367, 'Battery Electric Veh', 'BOLT EV'),
 (368, 'Battery Electric Veh', 'MODEL 3'),
 (369, 'Battery Electric Veh', 'MODEL 3'),
 (370, 'Battery Electric Veh', 'MODEL Y'),
 (371, 'Battery Electric Veh', 'MODEL 3'),
 (372, 'Battery Electric Veh', 'LEAF'),
 (373, 'Battery Electric Veh', 'EQS-CLASS SEDAN'),
 (374, 'Battery Electric Veh', 'MODEL Y'),
 (375, 'Battery Electric Veh', 'MODEL S'),
 (376, 'Battery Electric Veh', 'MODEL Y'),
 (377, 'Plug-in Hybrid Elect', 'PRIUS PLUG-IN'),
 (378, 'Battery Electric Veh', 'MODEL Y'),
 (379, 'Battery Electric Veh', 'MODEL Y'),
 (380, 'Plug-in Hybrid Elect', 'XC60'),
 (381, 'Battery Electric Veh', 'MODEL S'),
 (382, 'Battery Electric Veh', 'MODEL Y'),
 (383, 'Battery Electric Veh', 'MODEL S'),
 (384, 'Battery Electric Veh', 'LEAF'),
 (385, 'Plug-in Hybrid Elect', 'C-MAX'),
 (386, 'Battery Electric Veh', 'LEAF'),
 (387, 'Battery Electric Veh', 'LEAF'),
 (388, 'Battery Electric Veh', 'MODEL 3'),
 (389, 'Battery Electric Veh', 'MODEL 3'),
 (390, 'Plug-in Hybrid Elect', 'PRIUS PRIME'),
 (391, 'Battery Electric Veh', 'MODEL Y'),
 (392, 'Battery Electric Veh', 'MODEL Y'),
 (393, 'Plug-in Hybrid Elect', 'RAV4 PRIME'),
 (394, 'Battery Electric Veh', 'MODEL Y'),
 (395, 'Battery Electric Veh', 'SOUL EV'),
 (396, 'Battery Electric Veh', 'MODEL Y'),
 (397, 'Plug-in Hybrid Elect', 'WRANGLER'),
 (398, 'Battery Electric Veh', 'R1S'),
 (399, 'Battery Electric Veh', 'MODEL 3'),
 (400, 'Battery Electric Veh', 'EV6'),
 (401, 'Plug-in Hybrid Elect', 'XC60'),
 (402, 'Battery Electric Veh', 'MODEL Y'),
 (403, 'Battery Electric Veh', 'BOLT EV'),
 (404, 'Battery Electric Veh', 'MODEL X'),
 (405, 'Plug-in Hybrid Elect', 'PACIFICA'),
 (406, 'Battery Electric Veh', 'LEAF'),
 (407, 'Battery Electric Veh', 'LEAF'),
 (408, 'Battery Electric Veh', 'LEAF'),
 (409, 'Battery Electric Veh', 'MODEL Y'),
 (410, 'Battery Electric Veh', 'SOUL'),
 (411, 'Battery Electric Veh', 'KONA ELECTRIC'),
 (412, 'Battery Electric Veh', 'IX'),
 (413, 'Plug-in Hybrid Elect', 'NIRO'),
 (414, 'Battery Electric Veh', 'MODEL Y'),
 (415, 'Battery Electric Veh', 'MODEL 3'),
 (416, 'Battery Electric Veh', 'MODEL Y'),
 (417, 'Battery Electric Veh', 'LEAF'),
 (418, 'Battery Electric Veh', 'KONA'),
 (419, 'Battery Electric Veh', 'LEAF'),
 (420, 'Battery Electric Veh', 'MODEL Y'),
 (421, 'Battery Electric Veh', 'LEAF'),
 (422, 'Battery Electric Veh', 'MODEL Y'),
 (423, 'Battery Electric Veh', 'MODEL 3'),
 (424, 'Battery Electric Veh', 'IX'),
 (425, 'Battery Electric Veh', 'MODEL Y'),
 (426, 'Battery Electric Veh', 'E-GOLF'),
 (427, 'Battery Electric Veh', 'MODEL 3'),
 (428, 'Plug-in Hybrid Elect', 'WRANGLER'),
 (429, 'Battery Electric Veh', 'MODEL Y'),
 (430, 'Battery Electric Veh', 'MODEL Y'),
 (431, 'Plug-in Hybrid Elect', 'Q5 E'),
 (432, 'Plug-in Hybrid Elect', 'WRANGLER'),
 (433, 'Battery Electric Veh', 'BOLT EV'),
 (434, 'Plug-in Hybrid Elect', 'VOLT'),
 (435, 'Battery Electric Veh', 'MODEL 3'),
 (436, 'Battery Electric Veh', 'LEAF'),
 (437, 'Battery Electric Veh', 'MODEL Y'),
 (438, 'Battery Electric Veh', 'MODEL 3'),
 (439, 'Battery Electric Veh', 'LEAF'),
 (440, 'Battery Electric Veh', 'MODEL S'),
 (441, 'Battery Electric Veh', 'MODEL Y'),
 (442, 'Battery Electric Veh', 'MODEL 3'),
 (443, 'Battery Electric Veh', 'BOLT EV'),
 (444, 'Plug-in Hybrid Elect', 'PRIUS PRIME'),
 (445, 'Plug-in Hybrid Elect', 'RAV4 PRIME'),
 (446, 'Battery Electric Veh', 'MODEL 3'),
 (447, 'Battery Electric Veh', 'MODEL Y'),
 (448, 'Plug-in Hybrid Elect', 'PACIFICA'),
 (449, 'Battery Electric Veh', 'MODEL S'),
 (450, 'Battery Electric Veh', 'MODEL 3'),
 (451, 'Plug-in Hybrid Elect', 'C-MAX'),
 (452, 'Battery Electric Veh', 'LEAF'),
 (453, 'Battery Electric Veh', 'MODEL Y'),
 (454, 'Plug-in Hybrid Elect', 'I3'),
 (455, 'Battery Electric Veh', 'MODEL Y'),
 (456, 'Battery Electric Veh', 'MODEL 3'),
 (457, 'Battery Electric Veh', 'MODEL 3'),
 (458, 'Battery Electric Veh', 'MODEL 3'),
 (459, 'Battery Electric Veh', 'MODEL S'),
 (460, 'Battery Electric Veh', 'MODEL 3'),
 (461, 'Plug-in Hybrid Elect', 'I3'),
 (462, 'Battery Electric Veh', 'LEAF'),
 (463, 'Battery Electric Veh', 'MODEL S'),
 (464, 'Battery Electric Veh', 'LEAF'),
 (465, 'Plug-in Hybrid Elect', 'I3'),
 (466, 'Battery Electric Veh', 'MODEL X'),
 (467, 'Plug-in Hybrid Elect', 'WRANGLER'),
 (468, 'Battery Electric Veh', 'MODEL 3'),
 (469, 'Battery Electric Veh', 'LEAF'),
 (470, 'Battery Electric Veh', 'MODEL 3'),
 (471, 'Battery Electric Veh', 'BOLT EUV'),
 (472, 'Battery Electric Veh', 'MODEL 3'),
 (473, 'Battery Electric Veh', 'R1T'),
 (474, 'Battery Electric Veh', 'EV6'),
 (475, 'Plug-in Hybrid Elect', 'I8'),
 (476, 'Plug-in Hybrid Elect', 'RAV4 PRIME'),

In [92]:
# Execute SQL query
cursor.execute("SELECT * FROM product_tb")
# Fetch data and column names
rows = cursor.fetchall()
column_names = [i[0] for i in cursor.description]

# Create DataFrame with column names
ProductData = pd.DataFrame(rows, columns=column_names)

# Display results
ProductData

          p_id                p_name p_category
0            1  Battery Electric Veh    MODEL X
1            2  Plug-in Hybrid Elect    CLARITY
2            3  Battery Electric Veh    MODEL 3
3            4  Battery Electric Veh       LEAF
4            5  Battery Electric Veh    MODEL S
...        ...                   ...        ...
130971  130972  Battery Electric Veh    MODEL Y
130972  130973  Battery Electric Veh       LEAF
130973  130974  Battery Electric Veh    MODEL Y
130974  130975  Battery Electric Veh    MODEL X
130975  130976  Battery Electric Veh    MODEL 3

[130976 rows x 3 columns]

In [94]:
# Execute SQL query
cursor.execute("SELECT * FROM customer_tb")
# Fetch data and column names
rows = cursor.fetchall()
column_names = [i[0] for i in cursor.description]

# Create DataFrame with column names
CustomerData = pd.DataFrame(rows, columns=column_names)

# Display results
CustomerData

     c_id            c_name                c_city
0       1        Government                Canada
1       2        Government               Germany
2       3         Midmarket                France
3       4         Midmarket               Germany
4       5         Midmarket                Mexico
..    ...               ...                   ...
695   696    Small Business                France
696   697    Small Business                Mexico
697   698        Government                Mexico
698   699        Government                Canada
699   700  Channel Partners  United States of Ame

[700 rows x 3 columns]

In [96]:
# Execute SQL query
cursor.execute("SELECT * FROM date_tb")
# Fetch data and column names
rows = cursor.fetchall()
column_names = [i[0] for i in cursor.description]

# Create DataFrame with column names
DateData = pd.DataFrame(rows, columns=column_names)

# Display results
DateData

     d_id  d_day   d_month  d_year
0       1      1   January    2014
1       2      1   January    2014
2       3      6      June    2014
3       4      6      June    2014
4       5      6      June    2014
..    ...    ...       ...     ...
695   696      3     March    2014
696   697     10   October    2014
697   698      2  February    2014
698   699      4     April    2014
699   700      5       May    2014

[700 rows x 4 columns]

In [144]:
date_cols = DateData[['d_id']]
customer_cols = CustomerData[['c_id']]
product_cols = ProductData[['p_id']]
sales_cols = Sales[['Quantity','Unit Price']]

In [146]:
concant = pd.concat([date_cols, customer_cols, product_cols, sales_cols], axis=1, join='inner')
concant=concant.rename(columns={'d_id':'Date_id','c_id':'Customer_id','p_id':'Product_id', 'Unit Price':'unit_price'})
concant

     Date_id  Customer_id  Product_id  Quantity  unit_price
0          1            1           1   32370.0          20
1          2            2           2   26420.0          20
2          3            3           3   32670.0          15
3          4            4           4   13320.0          15
4          5            5           5   37050.0          15
..       ...          ...         ...       ...         ...
695      696          696         696  742500.0         300
696      697          697         697  163800.0         300
697      698          698         698    9576.0           7
698      699          699         699    5061.0           7
699      700          700         700   21672.0          12

[700 rows x 5 columns]

In [148]:
concant.isnull().sum()

Date_id        0
Customer_id    0
Product_id     0
Quantity       0
unit_price     0
dtype: int64

In [150]:
insert_query = f"INSERT INTO sale_tb ({','.join(concant.columns)}) VALUES ({','.join(['%s']*len(concant.columns))})"
    
for _, row in concant.iterrows():
    values = tuple(row)
    cursor.execute(insert_query, values)
    
mydb.commit()

In [152]:
# Execute SQL query
cursor.execute("SELECT * FROM sale_tb")
# Fetch data and column names
rows = cursor.fetchall()
column_names = [i[0] for i in cursor.description]

# Create DataFrame with column names
DateData = pd.DataFrame(rows, columns=column_names)

# Display results
DateData

     s_id  quantity  unit_price  customer_id  product_id  date_id
0       1     32370          20            1           1        1
1       2     26420          20            2           2        2
2       3     32670          15            3           3        3
3       4     13320          15            4           4        4
4       5     37050          15            5           5        5
..    ...       ...         ...          ...         ...      ...
695   696    742500         300          696         696      696
696   697    163800         300          697         697      697
697   698      9576           7          698         698      698
698   699      5061           7          699         699      699
699   700     21672          12          700         700      700

[700 rows x 6 columns]